<library path="src">
  <class name="svh_reset_gui" type="rqt_svh_reset_gui.svh_reset_gui.SVHResetGui" base_class_type="rqt_gui_py::Plugin">
    <description>
      Reset interface for the Schunk five finger hand
    </description>
    <qtgui>
      <label>SVH Reset</label>
      <icon type="theme">system-help</icon>
      <statustip>SVH gui for convenient resetting</statustip>
    </qtgui>
  </class>
</library>
