<launch>
	<arg name="gui" default="True" />
        <arg name="simulation" default="True" />

	<param name="robot_description" command="$(find xacro)/xacro.py $(find s5fh_gripper)/description/urdf/s5fs-arm.urdf.xacro" />
	<param name="use_gui" value="$(arg gui)"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
            <rosparam unless="$(arg simulation)" param="source_list">["canopen_joint_sensor_values", "s5fh_controller/channel_feedback"] </rosparam>
            <rosparam     if="$(arg simulation)" param="source_list">["joint_splitter_joined_input"] </rosparam>
        </node>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find s5fh_gripper)/urdf.rviz" required="true" />
</launch>
