# *********** Brainboxes USB2Serial range *********************
#
# US-101 - USB 1xRS232
ATTRS{idProduct}=="1011", ATTRS{idVendor}=="05d1", RUN+="/sbin/modprobe -q ftdi_sio product=0x1011 vendor=0x05d1", MODE="666"
# US-324 - USB 1xRS422/485 1Mbaud
ATTRS{idProduct}=="1013", ATTRS{idVendor}=="05d1", RUN+="/sbin/modprobe -q ftdi_sio product=0x1013 vendor=0x05d1", MODE="666"
# US_357 - USB 1xRS232/422/485
ATTRS{idProduct}=="7001", ATTRS{idVendor}=="05d1", RUN+="/sbin/modprobe -q ftdi_sio product=0x7001 vendor=0x05d1", MODE="666"
# US-257 - USB 2xRS232 1Mbaud
ATTRS{idProduct}=="5001", ATTRS{idVendor}=="05d1", RUN+="/sbin/modprobe -q ftdi_sio product=0x5001 vendor=0x05d1", MODE="666"
# US-313 - USB 2xRS422/485 1Mbaud
ATTRS{idProduct}=="6001", ATTRS{idVendor}=="05d1", RUN+="/sbin/modprobe -q ftdi_sio product=0x6001 vendor=0x05d1", MODE="666"

