<launch>
   
  <arg name="gui" default="True" />
  
  <param name="robot_description" command="$(find xacro)/xacro.py $(find s5fh_gripper)/description/urdf/s5fh-standalone.urdf.xacro" />
  <param name="use_gui" value="$(arg gui)"/>
  <!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"-->

  <node name="s5fh_controller" pkg="s5fh_controller" type="s5fh_controller" output="screen">
    <param name="serial_device" value="/dev/ttyUSB1"/>
    <remap from="s5fh_controller/channel_targets" to="joint_states"/>
  </node>

  <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <remap from="joint_states" to="s5fh_controller/channel_feedback"/>
  </node>
  
</launch>
