<launch>
    <arg name="output" default="screen" /> <!-- use "log" or "screen"-->
    <arg name="simulation" default="True" />
    <arg name="use_arm" default="True" />
    <arg name="gui" default="False" />
    <arg name="ns" default="svh"/>
    <arg name="frequency" default="50"/>
    <arg name="serial_device" default="/dev/ttyUSB0"/>
    <arg name="autostart" default="true"/>
    <arg name="logging_config" default="$(find schunk_svh_driver)/etc/logging.xml" />
    <arg name="use_internal_logging" default="True"/>
    <arg name="controller_config" default="$(find schunk_svh_driver)/etc/controller_user.yaml" />
    <arg name="general_config" default="$(find schunk_svh_driver)/etc/svh.yaml" />

  <include file="$(find schunk_svh_driver)/launch/run_demo.launch">
    <arg name="use_internal_logging" value="$(arg use_internal_logging)" />
    <arg name="ns" value="$(arg ns)" />
    <arg name="output" value="log" /> <!-- use "log" or "screen"-->
    <arg name="simulation" value="$(arg simulation)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="frequency" value="50"/>
    <arg name="serial_device" value="/dev/ttyUSB0"/>
    <arg name="use_arm" value="$(arg use_arm)" />
  </include>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <arg name="port" value="$(arg websocket_port)" />
  </include>
  
  <node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher" />
</launch>
