<launch>
    <arg name="output" default="screen" /> <!-- use "log" or "screen"-->
    <arg name="simulation" default="True" />
    <arg name="gui" default="False" />
    <arg name="ns" default="s5fh"/>
    <arg name="frequency" default="50"/>
    <arg name="serial_device" default="/dev/ttyUSB0"/>
    <arg name="autostart" default="true"/>
   
	<!-- load high level -->	
	<include file="$(find pathloader)/launch/trajectoryExecution.launch">
	        <arg name="simulation" value="$(arg simulation)" />
	       	<arg name="ns"  value="$(arg ns)" />
	       	<arg name="use_gui"  value="$(arg gui)" />
                <!--<arg name="frequency" value="$(arg frequency)"/>-->
                <arg name="frequency" value="50.3"/>
	</include>
   
    
    <group ns="$(arg ns)">
      	<!-- load robot model -->
      	
	<param name="robot_description" command="$(find xacro)/xacro.py $(find s5fh_controller)/description/urdf/s5fs-arm.urdf.xacro" />
	<param name="use_gui" value="$(arg gui)"/>
	 
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        	<rosparam unless="$(arg simulation)" param="source_list">["canopen_joint_sensor_values", "s5fh_controller/channel_feedback"] </rosparam>
                <rosparam     if="$(arg simulation)" param="source_list">["interpolator/joint_commands"] </rosparam>
                <param name="use_gui" value="False"/>
        </node>
      	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" >
        	<param name="use_gui" value="False"/>
      	</node>

    
    	<!-- load hardware driver -->
                
	<remap from="s5fh_controller/channel_targets"  to="interpolator/joint_commands" />
        <include unless="$(arg simulation)"  file="$(find ros_canopen_schunk_chain)/launch/canopen_schunk_chain.launch">
		<arg name="frequency" value="$(arg frequency)" />
                <arg name="autostart" value="$(arg autostart)" />
	</include>
	<node unless="$(arg simulation)" name="s5fh_controller" pkg="s5fh_controller" type="s5fh_controller" output="$(arg output)">
		<param name="serial_device" value="$(arg serial_device)"/>
                <arg name="autostart" value="$(arg autostart)" />
	</node>

	<!-- start rviz -->
        
	<node if="$(arg gui)" name="rviz" pkg="rviz" type="rviz" args="-d $(find s5fh_controller)/urdf.rviz" />
    </group>
</launch>
